*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
boody{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-family: sans-serif;
    font-weight: 700;
    margin: 15px 0;
}
.container{
    display: flex;
}
.container section{
    width: 350px;
    margin:20px 50px;
}
.section .info{
    background: rgbrgb(215, 190, 190);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;

}
.info span , .info h3{
    font-size: 25px;
    font-weight: bold;
    margin: 0px 10px;
    font-family: sans-serif;
    color: rgb(141, 183, 219);

}
.show{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(41,40,40);
}
.show i{
    font-size: 100px;
    color: rgb(231, 151, 125);
}
h2{
    font-family: sans-serif;
    font-weight: bold;
    padding: 5px;

}
.selection{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 100px;
}
.selection button{
    margin: 0 20px;
    padding: 25px;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    background: rgb(41,40,40);
    font-size: 35px;
    color: rgb(231, 151, 125);
}